.grid {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

thead tr {
    display: table-row;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

thead tr th {
    padding: 5px 10px;
    text-align: left;
    font-weight: normal;
    cursor: pointer;
}

tbody tr td {
    padding: 10px 10px;
}

.sorted-asc {
    width: 16px;
    height: 9px;
    background: url('assets/asc.png');
    display: inline-block;
}

.sorted-desc {
    width: 16px;
    height: 9px;
    background: url('assets/desc.png');
    display: inline-block;
}

.delete-button {
    width: 18px;
    height: 20px;
    background: url('assets/delete.png');
}

.col-24 {
    width: 24%;
}

.col-4 {
    width: 4%;
}
