<app-users-toast></app-users-toast>

<md-card>
    <md-card-title><h1>Users</h1></md-card-title>

    <md-card-actions>
        <button md-raised-button color="primary" (click)="create()">Create User</button>
    </md-card-actions>
    
    <md-card-content>
        <md-progress-circle class="loading-center" *ngIf="isLoading$ | async" mode="indeterminate" color="primary">
        </md-progress-circle>

        <div *ngIf="!(hasError$ | async)">
            <app-users-list [users]="users$ | async" [currentSorting]="pageInfo.sort"
                (sort)="sort($event)" (delete)="delete($event)"
                [ngClass]="{disabled: (disableGrid$ | async)}">
            </app-users-list>

            <div *ngIf="!((users$ | async).length) && !(isLoading$ | async)">
                No users have been created yet.
            </div>

            <app-users-pagination (pageChanged)="pageChanged($event)"></app-users-pagination>
        </div>

        <div *ngIf="hasError$ | async">
            <app-error [error]="error$ | async"></app-error>
        </div>
    </md-card-content>
</md-card>
