<app-users-toast></app-users-toast>

<md-card>
    <md-card-title><h1>Users</h1></md-card-title>

    <md-card-actions>
        <button md-raised-button color="primary" (click)="create()">Create User</button>

        <div id="page-size-selector">
            <span>Users per page: </span>
            <select [value]="pageInfo.size" (change)="pageSizeChanged($event.target.value)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </md-card-actions>
    
    <md-card-content>
        <md-progress-circle class="loading-center" *ngIf="isLoading$ | async" mode="indeterminate" color="primary">
        </md-progress-circle>

        <div *ngIf="!(hasError$ | async)">
            <app-users-list [users]="users$ | async" [currentSorting]="pageInfo.sort"
                (sort)="sort($event)" (delete)="delete($event)"
                (userSelected)="userSelected($event)"
                [ngClass]="{disabled: (disableGrid$ | async)}">
            </app-users-list>

            <div *ngIf="!(isLoading$ | async)">
                <div *ngIf="!((users$ | async).length)">
                    No users have been created yet.
                </div>

                <app-users-pagination *ngIf="(users$ | async).length" (pageChanged)="pageChanged($event)"></app-users-pagination>
            </div>
        </div>

        <div *ngIf="hasError$ | async">
            <app-error [error]="error$ | async"></app-error>
        </div>
    </md-card-content>
</md-card>

<div bsModal #modal="bs-modal" (onHidden)="dialogHidden()" class="modal fade" role="dialog">
    <div *ngIf="showDialog" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <app-user (close)="modal.hide()"></app-user>
            </div>
        </div>
    </div>
</div>
