h1 {
    font-size: 2.8rem;
    color: #4A4A4A;
    margin: 10px;
}

md-card {
    margin: 10px;
    min-height: 89vh;
}

@media only screen and (min-width: 500px) {
    md-card-title {
        width: 75%;
        float: left;
    }

    md-card-actions {
        width: 20%;
        text-align: right;
        float: right;
        margin-top: 1.4rem;
    }
}

md-card-actions {
    padding: 5px 20px;
}

md-card-content {
    clear: both;
}
