.toast {
    position: absolute;
    left: 10%;
    right: 10%;
    z-index: 999;
}

@media only screen and (min-width: 500px) {
    .toast {
        left: 25% !important;
        right: 25% !important;
    }
}
