<div class="grid">
    <table *ngIf="users.length">
        <thead>
            <tr>
                <th (click)="sort.emit('firstName')">
                    <span>First name</span>
                    <div [ngClass]="{'sorted-asc': isColumnSorted('firstName', SortDirection.Ascending), 'sorted-desc': isColumnSorted('firstName', SortDirection.Descending)}"></div>
                </th>
                <th (click)="sort.emit('lastName')">
                    <span>Last name</span>
                    <div [ngClass]="{'sorted-asc': isColumnSorted('lastName', SortDirection.Ascending), 'sorted-desc': isColumnSorted('lastName', SortDirection.Descending)}"></div>
                </th>
                <th (click)="sort.emit('email')">
                    <span>Email</span>
                    <div [ngClass]="{'sorted-asc': isColumnSorted('email', SortDirection.Ascending), 'sorted-desc': isColumnSorted('email', SortDirection.Descending)}"></div>
                </th>
                <th (click)="sort.emit('dateOfBirth')">
                    <span>Date of birth</span>
                    <div [ngClass]="{'sorted-asc': isColumnSorted('dateOfBirth', SortDirection.Ascending), 'sorted-desc': isColumnSorted('dateOfBirth', SortDirection.Descending)}"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName | contentFormat}}</td>
                <td>{{user.lastName | contentFormat}}</td>
                <td>{{user.email | contentFormat}}</td>
                <td>{{user.dateOfBirth | contentFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>
