<div class="header">
    <h3 *ngIf="!(userExists$ | async)">Create user</h3>
    <h3 *ngIf="userExists$ | async">Edit user</h3>
</div>

<alert type="danger" *ngIf="hasError$ | async">{{error$ | async}}</alert>

<div class="content" [ngClass]="{disabled: (loading$ | async)}">
    <app-user-form [user]="user$ | async" (save)="save($event)" (cancel)="cancel($event)"></app-user-form>
</div>

<md-progress-circle class="loading-center" *ngIf="loading$ | async" mode="indeterminate" color="primary">
</md-progress-circle>
